body{
    background-attachment: fixed;
    background-image: url(./images/hand-792920_1920.png);
}
header{
    display: flex !important;
    justify-content: space-between;
    padding-bottom: 100px !important;
}

header section span{
    color: rgb(19, 36, 58);
    margin: 2px;
    padding: 9px;
    font-size: 65px;
    font-weight: 800;
    background-color: rgba(255, 255, 255, .7);
}
header section .logo{
    color: #fff;
    font-size: 23px;
    font-weight: 500;
}

/* navbar */
header .nav1 .navbar-light{
    background: transparent !important;
}
header .nav1 ul .nav-item > a{
    font-weight: 800 !important;
    border-bottom: 3px solid skyblue !important;
}
header .nav1 ul .nav-item a:hover{
    border-bottom: 3px solid white !important;
}

.navbar{position:sticky}

.menu-large {
  position: static !important;
}

.megamenu {
  padding: 20px 20px;
  width: 100%;
}

.megamenu > div > li > ul {
  padding: 0;
  margin: 0;
}

.megamenu > div > li > ul > li {
  list-style: none;
}

.megamenu > div > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}

.megamenu > div > li > ul > li > a:hover,
.megamenu > div > li > ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}

.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}

.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}

@media (max-width: 768px) {
  .megamenu {
    margin-left: 0;
    margin-right: 0;
  }
  .megamenu > li {
    margin-bottom: 30px;
  }
  .megamenu > li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff;
  }
}

header .lastbtn{
    color:#fff;
    padding: 10px;
    margin: 35px;
    border-radius: 4em / 4em;
    border: 3px solid skyblue;
    transition: margin .6s;
}
header .lastbtn:hover{
    color: #000;
    margin: 25px;
    background-color: skyblue;
}


/* Article */
 
article .container-fluid h1{
  font-size: 60px !important; 
}
article .container-fluid{
  padding: 33px !important;
}

  /* Cards */
  @import url('https://fonts.googleapis.com/css?family=Oswald|Poppins');
  body {
      /* font-family: 'Oswald', sans-serif; */
      font-family: 'Poppins', sans-serif;
  }

  .card-box {
      background: #FAFAFA;
      min-height: 300px;
      position: relative;
      padding: 30px 30px 20px;
      margin-bottom: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      cursor: pointer;
  }

  .card-box:hover {
      background: linear-gradient(to right, #1fa2ff17 0%, #12d8fa2b 51%, #1fa2ff36 100%);
  }

  .card-box:after {
      display: block;
      background: #2196F3;
      border-top: 2px solid #2196F3;
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
  }

  .card-title h2 {
      margin: 0;
      padding-top: 5%;
      color: #2196F3;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 15px;
  }

  .card-title p {
      margin: 0;
      margin-bottom: 10px;
      font-size: 16px;
  }

  .card-link a {
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
      color: #FF5722;
      font-size: 15px;
  }
 

  /* footer */
  .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
  
